<%= form_with model: todo, url: todos_path do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title, required: true %>
    <% if todo.errors[:title].any? %>
      <div style="color:#c00;"><%= todo.errors.full_messages_for(:title).join(", ") %></div>
    <% end %>
  </div>
  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit "追加" %>
  </div>
<% end %>